
@{
    ViewBag.Title = "About";
}

<h2>About us</h2>

<h3>Dreamteam Corporation</h3>

<p>Our company, Dreamteam Corporation is a company that was created to help future missionaries get questions about their missions.
    We hires missionaries who already finished their mission to answer those questions and give them advices which are from their experiences.
    Our ultimate goal is to make all young missionaries succeed in their mission. There are young missionaries who give up their mission during the mission
    because they did not have knowledge about their mission. We hope to prevent young missionaries from quitting their most sacred obligation in their life.
    We will also implement the financial support to people who cannot afford to go mission!

    Do not be hesitate to contact us to ask anything you want!
    </p>

