
@{
    ViewBag.Title = "About";
}

<h2>About Us</h2>

<h3>DreamTeam Inc.</h3>

<p>DreamTeam Inc. was created to get key information to future LDS missionaries about their missions before they go. We ask returned
    missionaries to answer questions about their experience and then upload all the information in a central location for prospective 
    missionaries to read.
    <br /><br />
    Our ultimate goal is to make all young missionaries succeed in their mission. There are young missionaries 
    who to their missions unprepared and end up returning home early because they did not have adequate knowledge about the intricacies 
    of their assignment. We hope to prevent young missionaries from quitting the most sacred obligation in their life.
    <br /><br />
    We also have financial support available for people who cannot afford to pay for their mission.
    <br /><br />
    Do not be hesitate to contact us about any feedback about the site!
    </p>

