
@{
    ViewBag.Title = "Home";
}
<div class="jumbotron">
    <div class="bg"></div>
    <h1 class="main">Welcome new missionaries!</h1>
    <p class="lead">Prepare to serve by connecting with your mission.</p>
    @Html.ActionLink("Connect »", "Missions", "Home", new { }, new { @class = "btn btn-primary btn-large" })
</div>
<br />
<a name="more"></a>
<a id="scroll-to-bottom" href="#" role="button" title="Click to scroll to more content" data-toggle="tooltip" data-placement="right"><img src="../Content/Images/arrow_down.png" class="mini" /></a>

<div class="container-fluid auto">
   
    <div class="row">
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
            <h2>Get stoked about serving! Watch this classic missionary video.</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MaDO-Qj5kpo" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
            <h2>Why does a mission matter? Find out what these youth have to say.</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3aKU2rkvFQU" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <h2 class="center">What can I do to prepare?</h2>
        <div class="col-md-3 col-xs-6">
            <h3>Sign up for our newsletter</h3>
            <div class="glyphicon glyphicon-envelope full"></div>
        </div>
        <div class="col-md-3 col-xs-6">
            <h3>Find return missionaries from your mission</h3>
            <div class="glyphicon glyphicon-user full"></div>
        </div>
        <div class="col-md-3 col-xs-6">
            <h3>Attend mission prep</h3>
            <br />
            <div class="glyphicon glyphicon-globe full">
        </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <h3>Study the scriptures</h3>
            <br />
            <div class="glyphicon glyphicon-book full"></div>
        </div>
    </div>
</div>
<br />
<a id="back-to-top" href="#" role="button" ><img src="../Content/Images/arrow_up.png" class="mini" /></a>
