
@{
    ViewBag.Title = "Missions";
}

<h2>Missions</h2>

@using (Html.BeginForm("missionFAQs", "Home", FormMethod.Get))
{
    <fieldset>
        <h4>Select a Mission</h4>
        @Html.DropDownList("Mission")
        <input type="submit" value="Submit" />
    </fieldset>
}